* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MilkyVintage";
  src: url("../resources/MilkyVintage-Regular.ttf");
}

@font-face {
  font-family: "bethany";
  src: url("../resources/Bethany\ Elingston.otf");
}

@font-face {
  font-family: "Sparky";
  src: url("../resources/Sparky\ Stones.ttf");
}

html {
  font-size: 62.5%;
  font-family: "Lexend", sans-serif;
  color: rgb(102, 77, 54);
}

body {
  background-color: #fff3dd;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #664d36;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:hover {
  cursor: pointer;
}

header {
  width: 100%;
  height: 9rem;
  padding: 0rem 4rem 0rem 4rem;
  background-color: #ffd748;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  justify-content: center;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.logo-svg {
  width: 3rem;
  height: 3rem;
  transform: translateY(-0.4rem);
}

.logo {
  font-size: 4rem;
  font-family: "Sparky";
}

.navigation-list {
  width: 60rem;
  height: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navigation-list > li {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navigation-list > li::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 50%;
  width: 1.5px;
  background-color: rgb(51, 50, 50);
  right: 1px;
}

.navigation-list > li:last-child::after {
  display: none;
}

.navigation-list > li > a {
  font-size: 1.6rem;
}

.account {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
  justify-self: flex-end;
  color: white;
  padding: 0.8em 1.5em;
  background-color: black;
  border-radius: 0.3em;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*landing page styling*/

.homepage-image {
  height: calc(100vh - 9rem);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("/resources/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.homepage-image > h1 {
  font-family: "MilkyVintage";
  text-transform: capitalize;
  color: #bf9410;
  font-size: 10rem;
  font-weight: 300;
}

.explore {
  border: 2px solid white;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 0.2em;
  font-weight: 400;
  background-color: #664d36;
  margin-top: 3rem;
  padding: 1em 3em;
}

.store-profile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
}

.store-highlights {
  width: 100%;
  height: 50rem;
  background-color: #664d36;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 4rem;
}

.store-highlights > li {
  width: 26cqw;
  height: 40cqh;
  display: flex;
  background-color: #fff3dd;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 4px 4px 15px -3px black;
}

.store-highlights > li > h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 2rem;
}

.store-highlights > li > p {
  text-align: center;
  font-size: 1.4rem;
}

.store-highlights > li > svg {
  width: 10rem;
  height: 10rem;
}

.qualities-area {
  width: 100%;
  height: 70rem;
  padding: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.qualities-area_text {
  border-radius: 1rem;

  width: 100%;
  height: 100%;
  display: flex;
  padding: 0rem 3rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8rem;
  align-items: flex-start;
}

.qualities-header > h1 {
  font-size: 5rem;
  font-family: "bethany";
  font-weight: 600;
  color: #f06b32;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  margin-bottom: 0;
}

.qualities-header > p {
  font-size: 1.6rem;
  display: none;
}

.content-area_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.title-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.title-area > h1 {
  font-weight: 500;
  text-transform: capitalize;
}

.extend-btn {
  width: 3rem;
  height: 3rem;
  transform: rotateZ("0deg");
  transition-property: transform;
  transition-duration: 0.2s;
}

.rotate-btn {
  transform: rotateZ(90deg);
}

.title-area > h1 {
  font-size: 2rem;
  font-weight: 500;
}

.p-container {
  width: 100%;
  overflow: hidden;
  max-height: 0rem;
  transition-property: max-height;
  transition-duration: 0.5s;
}

.content-area.active .p-container {
  max-height: 9rem;
  width: 100%;
  overflow: hidden;
}

.p-container > p {
  font-size: 1.4rem;
  color: rgb(105, 85, 46);
}

.img-container {
  width: 100%;
  height: 65rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px -1px black;
}

.qualities-area_image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("../resources/tall_image.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
}

.featured-products {
  width: 100%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 2rem 20rem;
}
.featured-products_headings {
  display: flex;
  overflow: hidden;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 0rem;
}

.featured-products_headings > h1 {
  color: #f06b32;
  font-family: "bethany";
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}

.featured-products_headings > h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.products-categories {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 8rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.products-categories > li {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1em 2em;
  transition-property: background-color, color, font-weight;
  transition-duration: 0.5s;
  border-radius: 1rem;
}

.featured:hover {
  background-color: #664d36;
  color: white;
  cursor: pointer;
}

.featured-clicked {
  background-color: #664d36;
  font-weight: 300;
  color: white;
}

.products-display {
  overflow: hidden;
  width: 100%;
  height: 40rem;
  display: grid;
  column-gap: 2rem;
  margin-bottom: 3rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.product {
  border-bottom: 1px solid grey;
  display: flex;
  padding: 0.4rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.product:hover {
  background-color: rgb(230, 227, 227);
}

.product > img {
  border-radius: 50%;
  width: 12rem;
  height: 8rem;
}
.product-headings {
  padding: 2rem 0rem;
  height: 100%;
  width: 100%;
}

.product-name {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.autor {
  font-size: 1.4rem;
  font-weight: 500;
  color: #bf9410;
}

.load-more {
  border: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 0.2em;
  font-weight: 400;
  background-color: #664d36;
  margin-top: 3rem;
  padding: 1em 3em;
  box-shadow: 0px 0px 5px -1px black;
}

.store-stats {
  background: url("/resources/stats_pic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
}

.store-stats > ul {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.store-stats > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-stats > ul > li > h1 {
  color: #bf9410;
  font-size: 7rem;
}

.store-stats > ul > li > p {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

/*recipe ingredients page styling */

.prod-details_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prod-details_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  place-items: center;
}

.product-img_container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prod-img {
  width: 60rem;
  height: 40rem;
  box-shadow: 0px 0px 10px -1px black;
}

.prod-details {
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.category {
  padding: 0.5em 1.5em;
  font-size: 1.8rem;
  color: white;
  text-transform: capitalize;
  font-weight: 400;
  background-color: #664d36;
  border-radius: 0.2em;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
}

.container {
  height: 5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid #d4b461;
}

.container svg {
  width: 4rem;
  height: 4rem;
}

.container > div {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.container p {
  font-size: 1.2rem;
  line-height: 1rem;
  margin-right: 0.5rem;
}

.container span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #f06b32;
}

.servings-controller {
  width: 4rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.servings-controller > button {
  border-radius: 50%;
  border-color: transparent;
  background-color: #bf9410;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
}

.ingredients-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.ingredients-container > h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

.ingredients-container > ul {
  background-color: #d4b3611d;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.ingredients-container > ul > li {
  font-size: 1.4rem;
}

.ingredients-container > ul > li > span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #f06b32;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons-container * {
  font-size: 1.4rem;
  border: none;
  background-color: #664d36;
  color: white;
  border-radius: 0.5em;
  text-align: center;
  width: 30rem;
  height: 5rem;
  line-height: 5rem;
}

.recipe-bookmarked {
  background-color: black;
}

.similar-products {
  height: 100%;
  padding: 2rem;
  background-color: #f06b32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.svg-div {
  width: 100vw;
  margin-bottom: -0.3rem;
}

.similar-products > h1 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  font-family: "bethany";
  text-transform: capitalize;
}

.similar-products_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.similar-products_container button:not(.prod-link) {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  border-color: transparent;
}

.similar-products_list {
  width: 80%;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.similar-products_list li {
  transition-property: transform;
  transition-duration: 0.5s;
  margin: 1.5rem 3rem;
}

.show-all {
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  background-color: #664d36;
  color: white;
  border-radius: 0.5em;
  text-align: center;
  width: 30rem;
  height: 5rem;
  line-height: 5rem;
}

/*store styling */

.page-poster {
  position: relative;
  width: 100%;
  height: 20rem;
  background-image: url("/resources/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
}

.page-poster > h1 {
  font-size: 6rem;
  color: white;
  font-family: "bethany";
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.products-section {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 3rem 0rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
}

aside {
  width: 40rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0px 1rem;
}

aside .title {
  font-size: 3rem;
  font-weight: 400;
}

aside > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-container > div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0px 0px 2px -1px black;
  border-radius: 0.5rem;
  padding: 0.1rem;
  height: 4.5rem;
  align-items: center;
}

.search-container > div > input {
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 0rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.search-container > div > input:focus {
  outline-color: transparent;
}

.search-container > div > button {
  width: 14rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 400;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #664d36;
  color: white;
  border: none;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

nav > h1 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}

.selected {
  color: white;
  background-color: #664d36;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

.list-count_container {
  width: 100%;
  height: 100%;
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.list-count {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0rem;
  gap: 2rem;
}

.list-count > hr {
  width: 85%;
}

.list-count > p {
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 400;
}

.list-count span {
  color: #d4b461;
  font-size: 1.5rem;
  font-weight: 600;
}

.products-ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  gap: 3rem;
}

.suggested-product {
  background-color: wheat;
  width: 32rem;
  height: 40rem;
  flex-shrink: 0;
  border-radius: 2rem;
  box-shadow: 0px 0px 6px -1px black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.suggested-img {
  position: relative;
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition-property: background-size;
  transition-duration: 0.5s;
}

.bookmark-btn {
  background-color: #d4b461;
  position: absolute;
  width: 2.7rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.4rem;
  align-items: center;
  opacity: 0;
  top: 0%;
  right: 8%;
  border-radius: 0.2rem;
  transition-property: top, opacity;
  transition-duration: 0.5s;
}

.bookmark-svg {
  width: 2rem;
  height: 2.5rem;
}

.suggested-img.bookmarked .bookmark-btn {
  top: 8%;
  opacity: 1;
}

.suggested-img.focused .bookmark-btn {
  top: 8%;
  opacity: 1;
}

.suggested-img.focused .prod-link {
  bottom: 8%;
  opacity: 1;
}

.prod-link {
  position: absolute;
  width: fit-content;
  border: none;
  opacity: 0;
  text-decoration: none;
  background-color: #bf9410;
  padding: 0.3em 2em;
  border-radius: 0.5em;
  left: 0;
  right: 0;
  bottom: 0%;
  margin: auto;
  color: white;
  font-size: 2rem;
  transition-property: bottom, opacity;
  transition-duration: 0.5s;
}

.zoom-in {
  background-size: 120% 120%;
}

.suggested-img.bookmarked::before {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: inherit;
  border-radius: 2rem;
}

.suggested-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0);
  transition-property: background-color;
  border-radius: 2rem;
  transition-duration: 0.5s;
}

.suggested-img:hover::before {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 2rem;
}

.suggested-product h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

.page-btn_container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.page-btn_container > ul {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}

.page-btn {
  background-color: white;
  color: rgb(37, 37, 37);
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid #bf9410;
  padding: 1em;
  border-radius: 0.6rem;
}
.page-selected {
  background-color: #664d36;
  color: white;
}
.arrow {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  padding: 0.6em;
}

.hidden {
  display: none;
}

/*authentication style*/

.auth-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
}

.authentication {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.authentication > h1 {
  font-size: 4rem;
  text-transform: capitalize;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.auth-form > h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.2rem;
}

label {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.input-container input {
  width: 30rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.signUp-btn {
  font-size: 1.2rem;
  padding: 1em 3em;
  text-transform: capitalize;
  margin-top: 2rem;
}

.backgorund {
  background-image: url("../resources/login_background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hidden-form {
  display: none;
}
