* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MilkyVintage";
  src: url("../resources/MilkyVintage-Regular.ttf");
}

@font-face {
  font-family: "bethany";
  src: url("../resources/Bethany\ Elingston.otf");
}

@font-face {
  font-family: "Sparky";
  src: url("../resources/Sparky\ Stones.ttf");
}

html {
  font-size: 62.5%;
  font-family: "Lexend", sans-serif;
  color: rgb(102, 77, 54);
}

body {
  background-color: #fff3dd;
}

li {
  list-style: none;
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

a {
  text-decoration: none;
  color: #664d36;
}

.spinner {
  width: 100%;
  height: calc(100vh - 9rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 4rem;
  height: 4rem;
  animation: loading 1s infinite;
}

.alert_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert {
  width: 8rem;
  height: 8rem;
}

.alert_container p {
  font-size: 1.2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:hover {
  cursor: pointer;
}

header {
  width: 100%;
  height: 9rem;
  padding: 0rem 4rem 0rem 4rem;
  background-color: #ffd748;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  justify-content: center;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.logo-svg {
  width: 3rem;
  height: 3rem;
  transform: translateY(-0.4rem);
}

.logo {
  font-size: 4rem;
  font-family: "Sparky";
}

.navigation-list {
  width: 100%;
  max-width: 60rem;
  height: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navigation-list > li {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navigation-list > li::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 50%;
  width: 1.5px;
  background-color: rgb(51, 50, 50);
  right: 1px;
}

.navigation-list > li:last-child::after {
  display: none;
}

.navigation-list > li > a {
  font-size: 1.6rem;
}

.account {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
  justify-self: flex-end;
  color: white;
  padding: 0.8em 1.5em;
  background-color: black;
  border-radius: 0.3em;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*landing page styling*/

.homepage-image {
  height: calc(100vh - 9rem);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("/resources/background.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.homepage-image > h1 {
  font-family: "MilkyVintage";
  text-transform: capitalize;
  color: #bf9410;
  font-size: 10rem;
  font-weight: 300;
}

.explore {
  border: 2px solid white;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 0.2em;
  font-weight: 400;
  background-color: #664d36;
  margin-top: 3rem;
  padding: 1em 3em;
  cursor: pointer;
  transition-property: color background-color border-color;
  transition-duration: 0.5s;
}

.explore:hover {
  background-color: #bf9410;
  color: black;
  font-weight: 600;
  border-color: black;
}

.store-profile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
}

.store-highlights {
  width: 100%;

  background-color: #664d36;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 6rem;
}

.store-highlights > li {
  width: 100%;
  height: 30rem;
  max-width: 41.6rem;
  display: flex;
  background-color: #fff3dd;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 15px -3px black;
}

.store-highlights > li > h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 2rem;
}

.store-highlights > li > p {
  text-align: center;
  font-size: 1.4rem;
}

.store-highlights > li > svg {
  width: 10rem;
  height: 10rem;
}

.qualities-area {
  width: 100%;
  min-height: 70rem;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48.7rem, 1fr));
  grid-template-rows: 1fr;
}

.qualities-area_text {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0rem 3rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
  align-items: flex-start;
}

.qualities-header > h1 {
  font-size: 5rem;
  font-family: "bethany";
  font-weight: 600;
  color: #f06b32;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  margin-bottom: 0;
}

.qualities-header > p {
  font-size: 1.4rem;
  display: none;
}

.content-area_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.title-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.title-area > h1 {
  font-weight: 500;
  text-transform: capitalize;
}

.extend-btn {
  width: 3rem;
  height: 3rem;
  transform: rotateZ("0deg");
  transition-property: transform;
  transition-duration: 0.2s;
}

.rotate-btn {
  transform: rotateZ(90deg);
}

.title-area > h1 {
  font-size: 2rem;
  font-weight: 500;
}

.p-container {
  width: 100%;
  overflow: hidden;
  max-height: 0rem;
  transition-property: max-height;
  transition-duration: 0.5s;
}

.content-area.active .p-container {
  max-height: 9rem;
  width: 100%;
  overflow: hidden;
}

.p-container > p {
  font-size: 1.4rem;
  color: rgb(105, 85, 46);
}

.img-container {
  width: 100%;
  height: 65rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px -1px black;
}

.qualities-area_image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("../resources/tall_image.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
}

.featured-products {
  width: 100%;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 20rem;
}

.featured-products_headings {
  display: flex;
  overflow: hidden;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 0rem;
}

.featured-products_headings > h1 {
  color: #f06b32;
  font-family: "bethany";
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}

.featured-products_headings > h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.products-categories {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  min-height: 8rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.products-categories > li {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1em 2em;
  transition-property: background-color, color, font-weight;
  transition-duration: 0.5s;
  border-radius: 1rem;
}

.featured:hover {
  background-color: #664d36;
  color: white;
  cursor: pointer;
}

.featured-clicked {
  background-color: #664d36;
  font-weight: 300;
  color: white;
}

.products-display {
  overflow: hidden;
  width: 100%;
  min-height: 40rem;
  display: grid;
  column-gap: 2rem;
  margin-bottom: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.product {
  border-bottom: 1px solid grey;
  display: flex;
  padding: 0.4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.product:hover {
  background-color: rgb(230, 227, 227);
}

.product > .img {
  border-radius: 50%;
  width: 10rem;
  height: 8rem;
  background-position: center;
  background-size: cover;
}
.product-headings {
  padding: 2rem 0rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.product-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.autor {
  font-size: 1.4rem;
  font-weight: 500;
  color: #bf9410;
}

.load-more {
  border: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 0.2em;
  font-weight: 400;
  background-color: #664d36;
  margin-top: 3rem;
  padding: 1em 3em;
  box-shadow: 0px 0px 5px -1px black;
  cursor: pointer;
}
.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.store-stats {
  background: url("/resources/stats_pic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
}

.store-stats > ul {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.store-stats > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-stats > ul > li > h1 {
  color: #bf9410;
  font-size: 7rem;
}

.store-stats > ul > li > p {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

/*responsive landing page and header*/

@media screen and (max-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
    justify-content: center;
  }

  .logo-svg {
    width: 2rem;
    height: 2rem;
    transform: translateY(-0.4rem);
  }

  .logo {
    font-size: 3rem;
    font-family: "Sparky";
  }

  .navigation-list > li > a {
    font-size: 1.4rem;
  }

  .account {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .homepage-image > h1 {
    font-size: 6rem;
    font-weight: 300;
  }

  .explore {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1em 3em;
  }

  .store-profile {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 100%;
  }

  .store-highlights > li {
    padding: 1rem;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 4px 4px 15px -3px black;
  }
  .qualities-area {
    padding: 0rem 7rem;
    gap: 5rem;
  }

  .qualities-area_text {
    gap: 4rem;
    padding: 0;
  }

  .qualities-header > h1 {
    font-size: 4rem;
  }

  .content-area_container {
    gap: 3rem;
  }

  .img-container {
    width: 100%;
    height: 55rem;
  }

  .featured-products {
    width: 100%;
    padding: 2rem 10rem;
  }

  .featured-products_headings {
    padding: 2rem;
    margin-bottom: 3rem;
    gap: 0rem;
  }

  .featured-products_headings > h1 {
    font-size: 4rem;
  }

  .products-categories {
    gap: 4rem;
  }

  .products-categories > li {
    font-size: 1.4rem;
  }

  .product > .img {
    border-radius: 50%;
    width: 10rem;
    height: 8rem;
    background-position: center;
    background-size: cover;
  }

  .product-name {
    font-size: 1.8rem;
  }

  .autor {
    font-size: 1.4rem;
  }

  .load-more {
    border: none;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 0.2em;
    font-weight: 400;
    background-color: #664d36;
    margin-top: 3rem;
    padding: 1em 3em;
    box-shadow: 0px 0px 5px -1px black;
  }
}

@media screen and (max-width: 768px) {
  .logo-svg {
    width: 2rem;
    height: 2rem;
    transform: translateY(-0.2rem);
  }

  .logo {
    font-size: 3rem;
    font-family: "Sparky";
  }

  .navigation-list,
  .account {
    display: none;
  }

  .nav_button.nav_button {
    display: block;
    width: 3rem;
    height: 3rem;
    grid-column: 3;
    justify-self: flex-end;
    background-color: #664d36;
  }

  .homepage-image > h1 {
    font-size: 6rem;
    font-weight: 300;
  }

  .explore {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1em 3em;
  }

  .store-profile {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 100%;
  }

  .store-highlights {
    padding: 4rem;
  }

  .store-highlights > li > svg {
    width: 8rem;
    height: 8rem;
  }

  .store-highlights > li > h1 {
    font-size: 1.8rem;
  }

  .store-highlights > li > p {
    font-size: 1.6rem;
  }

  .qualities-area {
    padding: 0rem 2rem;
    gap: 5rem;
  }

  .qualities-area_text {
    gap: 4rem;
    padding: 0;
  }

  .qualities-header > h1 {
    font-size: 3rem;
  }

  .title-area > h1 {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .extend-btn {
    width: 3rem;
    height: 3rem;
    transform: rotateZ("0deg");
    transition-property: transform;
    transition-duration: 0.2s;
  }

  .rotate-btn {
    transform: rotateZ(90deg);
  }

  .p-container {
    width: 100%;
    overflow: hidden;
    max-height: 0rem;
    transition-property: max-height;
    transition-duration: 0.5s;
  }

  .content-area.active .p-container {
    max-height: 9rem;
    width: 100%;
    overflow: hidden;
  }

  .p-container > p {
    font-size: 1.2rem;
    width: 90vw;
    color: rgb(105, 85, 46);
  }

  .img-container {
    width: 100%;
    height: 65rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px -1px black;
  }

  .featured-products {
    width: 100%;
    padding: 2rem;
  }

  .featured-products_headings {
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 0rem;
  }

  .featured-products_headings > h1 {
    font-size: 2.3rem;
  }

  .featured-products_headings > h2 {
    font-size: 1.6rem;
  }

  .products-display {
    grid-template-columns: repeat(auto-fit, minmax(25.5rem, 1fr));
  }

  .products-categories {
    gap: 1rem;
  }

  .products-categories > li {
    font-size: 1.2rem;
  }

  .product > .img {
    border-radius: 50%;
    width: 8rem;
    height: 5rem;
    background-position: center;
    background-size: cover;
  }

  .product-name {
    font-size: 1.6rem;
  }

  .autor {
    font-size: 1.2rem;
  }

  .load-more {
    font-size: 1.4rem;
    border-radius: 0.2em;
    font-weight: 400;
    margin-top: 2rem;
    padding: 1em 3em;
  }
}

@media screen and (max-width: 548px) {
  .qualities-area {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

@media screen and (max-width: 470px) {
  header {
    padding: 0rem 1rem 0rem 1rem;
  }

  .logo-svg {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-0.2rem);
  }

  .logo {
    font-size: 2.5rem;
    font-family: "Sparky";
  }

  .homepage-image > h1 {
    /*font-size: 12vw;*/
    font-size: 7rem;
    font-weight: 300;
    text-align: center;
  }
}

/*recipe ingredients page styling */

.prod-details_section {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prod-details_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  justify-items: center;
  place-items: center;
  padding: 1rem 0rem;
}

.product-img_container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prod-img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px -1px black;
}

.prod-details {
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.category {
  padding: 0.5em 1.5em;
  font-size: 1.8rem;
  color: white;
  text-transform: capitalize;
  font-weight: 400;
  background-color: #664d36;
  border-radius: 0.2em;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
}

.nav_button {
  display: none;
}

.container {
  height: 5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid #d4b461;
}

.container svg {
  width: 4rem;
  height: 4rem;
}

.container > div {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.container p {
  font-size: 1.2rem;
  line-height: 1rem;
  margin-right: 0.5rem;
}

.container span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #f06b32;
}

.servings-controller {
  width: 4rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.servings-controller > button {
  border-radius: 50%;
  border-color: transparent;
  background-color: #bf9410;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
}

.ingredients-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.ingredients-container > h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

.ingredients-container > ul {
  background-color: #d4b3611d;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  gap: 1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.ingredients-container > ul ::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

.ingredients-container > ul > li {
  font-size: 1.4rem;
}

.ingredients-container > ul > li > span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #f06b32;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons-container * {
  font-size: 1.4rem;
  border: none;
  background-color: #664d36;
  color: white;
  border-radius: 0.5em;
  text-align: center;
  width: 30rem;
  height: 5rem;
  line-height: 5rem;
}

.recipe-bookmarked {
  background-color: black;
}

.similar-products {
  height: 100%;
  padding: 2rem;
  background-color: #f06b32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.svg-div {
  width: 100%;
  margin-bottom: -0.3rem;
}

.similar-products > h1 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  font-family: "bethany";
  text-transform: capitalize;
}

.similar-products_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.similar-products_container button:not(.prod-link) {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  border-color: transparent;
}

.similar-products_list {
  width: 80%;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.similar-products_list li {
  transition-property: transform;
  transition-duration: 0.5s;
  margin: 1.5rem 3rem;
}

.show-all {
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  background-color: #664d36;
  color: white;
  border-radius: 0.5em;
  text-align: center;
  width: 30rem;
  height: 5rem;
  line-height: 5rem;
}

@media screen and (max-width: 768px) {
  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .buttons-container * {
    font-size: 1.4rem;
    width: 15rem;
    height: 4rem;
    line-height: 4rem;
  }

  .similar-products_container button:not(.prod-link) {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border-color: transparent;
  }

  .similar-products_list {
    width: 80%;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }

  .show-all {
    font-size: 1.5rem;
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
  }
}

/*store styling */

.page-poster {
  position: relative;
  width: 100%;
  height: 20rem;
  background-image: url("/resources/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
}

.page-poster > h1 {
  font-size: 6rem;
  color: white;
  font-family: "bethany";
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.products-section {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 3rem 0rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
}

.filters {
  width: 40rem;
  min-height: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0px 1rem;
}

.filters .title {
  font-size: 3rem;
  font-weight: 400;
}

.filters > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-container > div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0px 0px 2px -1px black;
  border-radius: 0.5rem;
  padding: 0.1rem;
  height: 4.5rem;
  align-items: center;
}

.search-container > div > input {
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 0rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.search-container > div > input:focus {
  outline-color: transparent;
}

.search-container > div > button {
  width: 14rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 400;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #664d36;
  color: white;
  border: none;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

nav > h1 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}

.selected {
  color: white;
  background-color: #664d36;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

.list-count_container {
  width: 100%;
  height: 100%;
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.list-count {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0rem;
  gap: 2rem;
}

.list-count > hr {
  width: 85%;
}

.list-count > p {
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 400;
}

.list-count span {
  color: #d4b461;
  font-size: 1.5rem;
  font-weight: 600;
}

.products-ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
  gap: 3rem;
}

.suggested-product {
  background-color: wheat;
  width: 100%;
  max-width: 32rem;
  height: 40rem;
  flex-shrink: 0;
  border-radius: 2rem;
  box-shadow: 0px 0px 6px -1px black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.suggested-img {
  position: relative;
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition-property: background-size;
  transition-duration: 0.5s;
}

.bookmark-btn {
  background-color: #d4b461;
  position: absolute;
  width: 2.7rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.4rem;
  align-items: center;
  opacity: 0;
  top: 0%;
  right: 8%;
  border-radius: 0.2rem;
  transition-property: top, opacity;
  transition-duration: 0.5s;
}

.bookmark-svg {
  width: 2rem;
  height: 2.5rem;
}

.suggested-img.bookmarked .bookmark-btn {
  top: 8%;
  opacity: 1;
}

.suggested-img.focused .bookmark-btn {
  top: 8%;
  opacity: 1;
}

.suggested-img.focused .prod-link {
  bottom: 8%;
  opacity: 1;
}

.prod-link {
  position: absolute;
  width: fit-content;
  border: none;
  opacity: 0;
  text-decoration: none;
  background-color: #bf9410;
  padding: 0.3em 2em;
  border-radius: 0.5em;
  left: 0;
  right: 0;
  bottom: 0%;
  margin: auto;
  color: white;
  font-size: 2rem;
  transition-property: bottom, opacity;
  transition-duration: 0.5s;
}

.zoom-in {
  background-size: 120% 120%;
}

.suggested-img.bookmarked::before {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: inherit;
  border-radius: 2rem;
}

.suggested-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0);
  transition-property: background-color;
  border-radius: 2rem;
  transition-duration: 0.5s;
}

.suggested-img:hover::before {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 2rem;
}

.suggested-product h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

.page-btn_container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 8px;
  align-items: center;
}

.page-btn_container > ul {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}

.page-btn {
  background-color: white;
  color: rgb(37, 37, 37);
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid #bf9410;
  padding: 1em;
  border-radius: 0.6rem;
}

.page-selected {
  background-color: #664d36;
  color: white;
}
.arrow {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  padding: 0.6em;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .products-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }

  .filters {
    width: 100%;
    background-color: #f06b3215;
    border-radius: 0.5rem;
    flex-direction: row;
    padding: 0px 3rem;
    justify-content: space-between;
    align-items: center;
  }

  .filters .title {
    font-size: 2rem;
    width: 10rem;
  }

  .filters > div {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .recipe_categories {
    order: 0;
  }

  .search-container {
    order: 1;
  }

  .search-container > div {
    border-radius: 0.5rem;
    padding: 0.1rem;
    height: 3.5rem;
  }

  .search-container > div > input {
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 0rem;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .search-container > div > input:focus {
    outline-color: transparent;
  }

  .search-container > div > button {
    width: 12rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 400;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #664d36;
    color: white;
    border: none;
  }

  nav {
    flex-direction: row;
    height: 3.5rem;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  nav > h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .selected {
    height: 100%;
    padding: 0rem 2rem;
    line-height: 3.5rem;
  }

  .list-count_container {
    padding: 0rem;
    gap: 2rem;
  }

  .list-count {
    padding: 2rem 0rem;
    gap: 2rem;
  }

  .list-count > hr {
    width: 80%;
  }

  .list-count > p {
    width: fit-content;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .list-count span {
    color: #d4b461;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .page-poster > h1 {
    font-size: 4rem;
    color: white;
    text-transform: capitalize;
  }

  .products-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }

  .products-ul {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 3rem;
  }

  .filters {
    width: 100%;
    background-color: #f06b3215;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }

  .filters .title {
    font-size: 2rem;
    width: 10rem;
  }

  .filters > div {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .recipe_categories {
    order: 1;
  }

  .search-container {
    order: 0;
  }

  nav {
    flex-direction: row;
    height: 3.5rem;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .list-count_container {
    padding: 0rem;
    gap: 2rem;
  }

  .list-count {
    padding: 2rem 0rem;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
  }

  .list-count > hr {
    width: 75vw;
  }

  .list-count > p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }

  .list-count span {
    font-size: 1.4rem;
  }

  .suggested-product {
    width: 100%;
    height: 30rem;
    max-width: 22rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 6px -1px black;
    padding: 1rem;
  }

  .suggested-img {
    width: 100%;
    height: 22rem;
    border-radius: 0.5rem;
  }

  .bookmark-btn {
    width: 2rem;
    height: 3.8rem;
    padding: 0.4rem;
    top: 0%;
    right: 8%;
    border-radius: 0.2rem;
  }

  .bookmark-svg {
    width: 1.5rem;
    height: 2rem;
  }

  .suggested-img.bookmarked .bookmark-btn {
    top: 4%;
    opacity: 1;
  }

  .suggested-img.focused .bookmark-btn {
    top: 4%;
    opacity: 1;
  }

  .suggested-img.focused .prod-link {
    bottom: 8%;
    opacity: 1;
  }

  .prod-link {
    padding: 0.3em 2em;
    border-radius: 0.2em;
    left: 0;
    right: 0;
    bottom: 0%;
    margin: auto;
    color: white;
    font-size: 2rem;
    transition-property: bottom, opacity;
    transition-duration: 0.5s;
  }

  .suggested-img.bookmarked::before {
    border-radius: 0.5rem;
  }

  .suggested-img::before {
    border-radius: 0.5rem;
  }

  .suggested-img:hover::before {
    border-radius: 0.5rem;
  }

  .suggested-product h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  .products-ul {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
  }
  .page-poster {
    position: relative;
    width: 100%;
    height: 20rem;
    background-image: url("/resources/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
  }

  .page-poster > h1 {
    font-size: 3rem;
    color: white;
    text-transform: capitalize;
  }

  .list-count_container {
    gap: 0rem;
  }
  .list-count > hr {
    display: none;
  }

  .suggested-product {
    width: 100%;
    height: 25rem;
    max-width: 22rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 6px -1px black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.8rem;
  }

  .suggested-img {
    width: 100%;
    height: 16rem;
    border-radius: 0.5rem;
  }

  .bookmark-btn {
    width: 2rem;
    height: 3.8rem;
    padding: 0.4rem;
    top: 0%;
    right: 8%;
    border-radius: 0.2rem;
  }

  .prod-link {
    padding: 0.3em 2em;
    border-radius: 0.2em;
    left: 0;
    right: 0;
    bottom: 0%;
    margin: auto;
    color: white;
    font-size: 1.6rem;
    transition-property: bottom, opacity;
    transition-duration: 0.5s;
  }

  .suggested-product h1 {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

/*bookmark page style*/

.bookmark_section {
  width: 100%;
  height: calc(100vh - 9rem);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bookmark_div_container {
  width: 80rem;
  height: 50rem;
  border: 2px solid #664d36;
  border-radius: 2rem;
  display: block;
  gap: 1rem;
  overflow: hidden;
}

.bookmark_title {
  font-size: 2rem;
}

.section_header {
  background-color: #bf9410;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.search_div {
  width: 30rem;
  height: 3rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2rem;
  padding: 0.5rem;
  align-items: center;
}

#search_input {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

#search_input:focus {
  outline: none;
}

.search_svg {
  width: 2rem;
  height: 2rem;
}

.logout_div h1 {
  transform: translateY(-0.2rem);
}

.bookmark_section ul {
  flex: 1 0 auto;
  height: 100%;
  padding: 0.5rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow-y: scroll;
}

.bookmarked_recipe {
  box-shadow: 0px 0px 4px -1px black;
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  gap: 0.5rem;
  height: 7rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.bookmarked_recipe:hover {
  background-color: #e4c67c;
}

.bookmarked_prod_img {
  min-width: 6rem;
  min-height: 6rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bookmarked_info {
  margin-right: auto;
  text-transform: capitalize;
  height: 100%;
}

.bookmarked_info h1 {
  font-size: 1.6rem;
}

.delete_bookmark_btn {
  min-width: 4rem;
  min-height: 4rem;
  padding-top: 0.6rem;
  border-color: transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.delete_bookmark_btn svg {
  width: 3rem;
  height: 3rem;
  /*border: 2px solid black;*/
}

.delete_bookmark_btn:hover {
  background-color: rgb(244, 106, 106);
}

@media screen and (max-width: 810px) {
  .bookmark_section {
    padding: 1rem;
  }

  .bookmark_div_container {
    width: 100%;
    height: 100%;
  }

  .search_div {
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
  }

  .bookmarked_info h1 {
    font-size: 1.4rem;
  }

  .bookmarked_info h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 425px) {
  .search_div {
    width: 15rem;
    height: 2.5rem;
    border-radius: 2rem;
  }

  .bookmarked_info h1 {
    font-size: 1.2rem;
  }

  .bookmarked_info h3 {
    font-size: 1rem;
  }

  .delete_bookmark_btn {
    min-width: 3rem;
    min-height: 3rem;
    padding: 0.1rem;
  }
}
